.section {
	display: flex;
	margin: 3em;
}

.pane {
	margin: 1em;
	flex: 1;
	text-align: left;
}

.skillContainer {
	display: flex;
}

.skillColumn {
	flex: 1
}

@media screen and (max-width: 800px) {
	.section {
		flex-direction: column;
	}

	.pane {

		text-align: justify;
	}
}



/* .navbar>* {
	padding-right: 1em;
} */