@keyframes slide-from-left {
	0% {
		left: -800px;
		top: 0px;
	}

	100% {
		left: 0px;
		top: 0px;
	}
}

@keyframes slide-from-right {
	0% {
		right: 800px;
		top: 0px;
	}

	100% {
		right: 0px;
		top: 0px;
	}
}

.section {
	display: flex;
	margin: 3em;
}

.slideInLeft {
	animation-name: slide-from-left;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.slideInRight {
	animation-name: slide-from-right;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.leftPane {
	position: relative;
	left: -800px;
}

.rightPane {
	position: relative;
	right: 800px;
}

.pane {
	margin: 1em;
	flex: 1;
	text-align: left;
}

.skillContainer {
	display: flex;
}

.skillColumn {
	flex: 1
}

@media screen and (max-width: 800px) {
	.section {
		flex-direction: column;
	}

	.pane {

		text-align: justify;
	}
}



/* .navbar>* {
	padding-right: 1em;
} */