@keyframes slide-from-left {
	0% {
		left: -1800px;
		top: 0px;
	}

	100% {
		left: 0px;
		top: 0px;
	}
}

@keyframes slide-from-right {
	0% {
		left: 1800px;
		top: 0px;
	}

	100% {
		left: 0px;
		top: 0px;
	}
}



.leftContainer {
	display: flex;
	align-items: center;
	transition: transform 0.5s;
	transform: scale(1, 1);

}

.leftContainer:hover {
	transform: scale(1.05, 1.05);
}

.section {
	/* When animation enters from right a scrollbar appears without max-width and hide overflow. */
	max-width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.slideInLeft {
	animation-name: slide-from-left;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.slideInRight {
	animation-name: slide-from-right;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.leftPane {
	position: relative;
	left: -1800px;
}


.rightPane {
	position: relative;
	display: flex;
	left: 1800px;
	flex: 1;
	justify-content: center;
	padding: 0.5em 0;
	/* overflow: hidden; */
}

/* There are two panes, hence divided by two. */
.pane {
	margin: 0 1em;
	max-width: calc(var(--max-width)/2);
	flex: 1;
	text-align: left;
}

.skillColumn {
	flex: 1;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	max-width: 150px;
	margin-top: 0.5em;
	margin-bottom: 3.5em;
	text-align: center;
}

.skillColumn:not(:nth-child(2)) {
	margin-bottom: 0.5em;
	margin-top: 3.5em;
}

@media screen and (max-width: 800px) {
	.section {
		flex-direction: column;
	}

	.leftContainer:hover {
		transform: scale(1.02, 1.02);
	}


	.pane {
		text-align: justify;
		max-width: 100%;
	}
}



/* .navbar>* {
	padding-right: 1em;
} */