.container {
	cursor: pointer;
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 85px;
	margin: 0 0 1em 0;
}

.centered {
	display: flex;
	justify-content: center;
}

.icon {
	vertical-align: middle;
}

.innerContainer {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.link:hover {
	transform: scale(1.15, 1.15);
}

.link {
	transition: all 0.3s;
}

.icon {
	fill: white;
}