.container {
	cursor: pointer;
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 85px;
	margin: 0 0 1em 0;
}

.centered {
	display: flex;
	justify-content: center;
}

.icon {
	vertical-align: middle;
}

.innerContainer {
	align-items: center;
	display: flex;
	justify-content: space-between;
}