.container {
	cursor: pointer;
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 85px;
	margin: 0 0 1em 0;
}

.centered {
	display: flex;
	justify-content: center;
}

.icon {
	vertical-align: middle;
}


.innerContainer {
	display: grid;
	grid-template-columns: 1fr auto;
	transition: all 0.3s;
	background-color: var(--blue);
	border-radius: 25px;
}

.innerContainer:hover {
	transform: scale(1.15, 1.15);
	filter: brightness(1.3);
}

.link {
	margin: auto;
}

.icon {
	fill: white;
	margin: auto;
}