.item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.item>* {
	flex: 1;
	padding: 0 1em;
	max-width: 400px;
}

.item:nth-child(even) {
	flex-direction: row-reverse;
}

.description {
	background-color: var(--blue);
	border-radius: 25px;
	box-shadow: 1px 1px 3px var(--primary) inset;
	transition: all 0.3s;
}

.description:hover {
	transform: scale(0.97, 0.97);
}

.image {
	transition: all 0.3s;
}

.image:hover {
	transform: scale(1.15, 1.15);
}

@media screen and (max-width: 800px) {
	.item {
		border-bottom: solid 1px var(--red);
		margin-bottom: 2em;
		background: #111b;
	}

	.item:nth-child(even), .item {
		flex-direction: column;
	}

	.description {
		width: 100%;
	}

}

.tooltip {
	position: relative;
	/* display: inline-block; */
	/* border-bottom: 1px dotted black; */
	/* If you want dots under the hoverable text */

}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: transparent;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	top: 60px;
	left: -35px;
	z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:active .tooltiptext {
	visibility: visible;
}

/* .item:hover { */
/* transform: scale(1.25, 1.25); */
/* } */