:root {
	--primary: #111;
	--red: rgb(175, 40, 40);
	--radial-gradient: radial-gradient(circle at top left, #2d0088, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
	--gradient: linear-gradient(var(--primary), var(--primary)), var(--radial-gradient);
	--max-width: 800px;
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
	color: white;
}

html {
	background: #111;
}

a {
	color: inherit;
	text-decoration: none;
}



* {
	box-sizing: border-box;
}